.about-me {
    /* display: none; */

    width: 100%;
    height: 100vh;
    background-color: #d3db74;

    color: white;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    padding: 10vh 8.85%;
    box-sizing: border-box;
}

.technologies {
    display: none;
    flex-wrap: wrap;
    padding-bottom: 20px;

    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin-top: 25px; 
}

.container-1 {
    display: flex;
    min-width: 1570px;
}

.technologies-frontend-wrapper {
    min-width: 1570px;
    height: 180px;
}

.technologies-frontend {
    width: 100%;   
    height: 100%; 

    box-sizing: border-box;

    background-image: url(../images/frontend-background.png);
    background-repeat: no-repeat;
}

.technologies-backend-wrapper {
    min-width: 1106px;
    height: 200px;
}

.technologies-backend {
    width: 100%;
    height: 100%; 

    background-image: url(../images/backend-background.png);
    background-repeat: no-repeat;
}

.technologies-other-wrapper {
    min-width: 432px;
    height: 200px;
    margin-left: 2%;
}

.technologies-other {
    width: 100%;
    height: 100%; 

    background-image: url(../images/other-background.png);
    background-repeat: no-repeat;
}

.technologies p {
    font-weight: 500;
    padding-top: 10px;
}
.technologies-frontend p {
    padding-top: 5px;
}

.technologies img {
    position: relative;
}

/*Start positioning logos*/

.redux-logo {
    left: 865px;
    top: 8px;
}

.react-logo {
    left: 717px;
    top: -55px;
}

.ts-logo-frontend {
    left: 550px;
    top: 33px;
}

.js-logo {
    left: 440px;
    top: -40px;
}

.sass-logo {
    left: 280px;
    top: 30px;
}

.css-logo {
    left: 165px;
    top: -25px;
}

.html-logo {
    left: 10px;
    top: 10px;
}

.mysql-logo {
    left: 670px;
    top: 10px;
}

.mongodb-logo {
    left: 405px;
    top: -30px;
}

.ts-logo-backend {
    left: 195px;
    top: 50px;
}

.nodejs-logo {
    left: 25px;
    top: 15px;
}

.photoshop-logo {
    left: 245px;
    top: -20px;
}

.git-logo {
    left: 40px;
    top: 15px;
}

/*Finish positioning logos*/

.about-me-text-2 {
    margin-top: 40px;
}

.about-me-text-2 span {
    font-weight: 600;
}

@media screen and (max-height: 845px) {
    .about-me {
        padding: 2vh 8.85%;
    }
}
@media screen and (max-height: 780px) {
    .about-me-text-1, .about-me-text-2 {
        font-size: 35px;
    }
    .about-me-text-2 {
        margin-top: 15px;
    }
}
@media screen and (max-height: 600px) {
    .about-me {
        height: 970px;
        padding-top: 130px;
        /* padding: 130px 8.85%;
        font-size: 45px; */
    }
    .about-me-text-2 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1350px) {
    .about-me-text-1, .about-me-text-2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 830px) {
    .about-me-text-1, .about-me-text-2 {
        font-size: 25px;
    }
}
@media screen and (max-width: 450px) and (min-height: 601px) {
    .about-me {
        height: 115vh;
    }
}