.contact {
    width: 100%;
    height: 100vh;
    padding: 9vh 8.85%;
    box-sizing: border-box;

    background-color: #d3db74;

    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 36px;

    /* display: none; */
}

.contact-text-1 {
    font-size: 45px;
}

.contact a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.contact form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-end
}

.contact-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-inputs {
    width: 47%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-inputs > input {
    height: 90px;
}

.contact > form textarea {
    width: 50%;
    height: 220px;
    resize: none;
}

.contact-inputs > input, .contact > form textarea, .submit {
    border-radius: 10px;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    color: #d3db74;
}

.contact-inputs > input::placeholder, .contact > form textarea::placeholder {
    color: #e9edc0;
}

.submit {
    width: 50%;
    height: 90px;
    margin-top: 35px;
    /* background-color: #bbe469; */
    background-color: #e4d069;
    /* box-shadow: 20px 10px 5px white; */
    color: white;
    text-align: left;
    cursor: pointer;
}

.contact-text-2, .contact-text-3 {
    margin-left: 50%;
}

.contact-text-2 {
    margin-top: 40px;
}

.contact-text-3 {
    margin-top: 35px;
}

@media screen and (max-height: 800px) {
    .contact {
        padding: 6vh 8.85%;
    }
}

@media screen and (max-height: 930px) {
    .contact {
        height: 930px;
    }
}

@media screen and (max-width: 1350px) {
    .contact, .contact-inputs > input, .contact > form textarea, .submit {
        font-size: 28px;
    }
    .contact-text-1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 880px) {
    .contact {
        height: 1050px;
    }
    .contact > form, .contact-fields {
        flex-direction: column;
    }
    .contact > form, .contact-fields, .contact-inputs {
        width: 100%;
        margin: 0;
    }
    .contact-inputs {
        height: unset;
    }
    .contact-inputs > input, .contact > form textarea {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        border-radius: 6px;
    }
    .contact > form textarea {
        height: 200px;
    }
    .submit {
        width: 100%;
        border-radius: 6px;
    }
    .contact-text-2, .contact-text-3 {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .contact-inputs > input, .submit {
        height: 50px;
        padding: 7px;
    }

    .contact > form textarea {
        padding: 7px;
    }

    .contact, .contact-inputs > input, .contact > form textarea, .submit {
        font-size: 20px;
        border-radius: 4px;
    }
    .contact-text-1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 310px) {
    .contact-text-2 {
        font-size: 18px;
    }
}